<ion-item>
  <h2>ชื่อถนน ลำน้ำหรือละแวกบ้าน</h2>
</ion-item>
<ion-item>
    <input>
</ion-item>
<ion-item>
  <h2>ชื่อตรอก/ซอย</h2>
</ion-item>
<ion-item>
    <input>
</ion-item>
<ion-item>
  <h2>ชื่อหมู่บ้าน/คอนโด/อาคาร/สำนักงาน/สถานประกอบการ/สถาบัน ฯลฯ</h2>
</ion-item>
<ion-item>
    <input>
</ion-item>
<ion-item>
  <h2>เลขที่บ้าน/อาคาร</h2>
</ion-item>
<ion-item>
    <input>
</ion-item>
<ion-item>
    <ion-label>ประเภทบ้าน/อาคาร/สิ่งปลูกสร้าง </ion-label>
    <ion-select [(ngModel)]="os" submitText="OK" cancelText="cancel">
      <ion-option value="dos">DOS</ion-option>
      <ion-option value="lunix">Linux</ion-option>
      <ion-option value="mac7">Mac OS 7</ion-option>
      <ion-option value="mac8">Mac OS 8</ion-option>
      <ion-option value="win3.1">Windows 3.1</ion-option>
      <ion-option value="win95">Windows 95</ion-option>
      <ion-option value="win98">Windows 98</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>การเข้าพบ /3</ion-label>
    <ion-select [(ngModel)]="os" submitText="OK" cancelText="cancel">
      <ion-option value="dos">DOS</ion-option>
      <ion-option value="lunix">Linux</ion-option>
      <ion-option value="mac7">Mac OS 7</ion-option>
      <ion-option value="mac8">Mac OS 8</ion-option>
      <ion-option value="win3.1">Windows 3.1</ion-option>
      <ion-option value="win95">Windows 95</ion-option>
      <ion-option value="win98">Windows 98</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <h2>ให้ขันทึกข้อความเกี่ยวกับ ปัญหา/อุปสรรค/การนัดหมาย/เหตุผล ที่นับจดไม่ได้</h2>
  </ion-item>
  <ion-item>
      <input>
  </ion-item>
  <button ion-button (click)="submit()">Next ></button>